/* PERSONAL HOMEPAGE */



/* COLOR VARIABLES
----------------------------------------------- */
:root {
  --light: #F2F2F2;
  --red: #F2441D;
  --blue: #5A30F2;
  --darkY: #F2B90C;
  --lightY: #F2E205;
  --pink: #F294C8;
}



/* BASE STYLES
----------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  background: var(--light); 
  color: var(--red);
  margin: 0;
  padding: 0; 
  line-height: 1.3;
  font-weight: 900;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}






/* TYPOGRAPHY
----------------------------------------------- */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



p {

font-weight: 400;
}

h1 {
  font-size: 30px;
  word-spacing: 999999px;
  padding-left: 1.5em;
  text-indent: -1em;
  font-size: 2.5em;
  font-weight: 900;
  color: var(--darkY);
  line-height: 90%;
  margin: 0.5em 0;
  position: relative;
}

h1:before {
  content: '';
  position: absolute;
  bottom: -1em;
  left: -0.25em;
  z-index: 0;
  background-image: url(images/asterisk_b.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

h1:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  background-image: url(images/asterisk_y.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
}


h2 {
  margin-top:  2em;
  font-weight: 900;
  font-size: 30pt;
}







/* HEADER
----------------------------------------------- */
header {
  padding-bottom: 2em;
}




/* NAV
----------------------------------------------- */
.toggle {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: 3em;
  background: var(--pink);
  top: 0.5em;
  left: 0.5em;
  transform: rotate(90deg);
  transform-origin: right;
  line-height: 1;
}

.toggle img {
  display: block;
  margin: 0;
  max-width: 100%;
}

.toggle img:active {
  display: block;
  margin: 0;
  transform: rotate(180deg);
}




nav {
  position: absolute;
  background: var(--pink);
  z-index: 3;
  transform: translateX(-100vw);
  transition: transform 0.25s;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  min-height: 5em;
  width: 100vw;
}

nav a {
  text-decoration: none;
  color: var(--light);
  padding: 0.5em;
  display: block;
  border-right: 2px solid var(--lightY);
  text-align: center;
  width: 100%;
}


nav a:hover {
  text-decoration: none;
  padding-top: 1.9em;
  text-align: center;
  color: var(--blue);
  background: var(--lightY);
  min-height: 5em;
}

.nav-active nav {
  transform: translateX(0);
}

.logo {
  display: block;
  width: 70vw;
  margin-right: 0;
  margin-left: auto;
  padding: 0.5em;
}

.logo-desktop {
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 4em;
  display: none;
}




/* MAIN
----------------------------------------------- */
main {
  padding: 0.5em;
}







/* HOME
----------------------------------------------- */
.home {
  min-height: 200vh;
}

.home-fixed {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: -10px;
  height: 100vh; 
  width: 100vmin;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  display: block;
  margin: auto;
  max-width: 70%;
  padding-top: .2em;
  padding-right: 3.5em;
}

.subtitle {
  display: block;
  margin: auto;
  text-align: center;
  padding-left:  8em;
  /* not sure how to over lap text on image, to place it under title */
}

.facetop {
  position:  absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  z-index: 3;
  left: 8.2em;
}

.facebottom {
  position:  absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  z-index: 2;
  left: 8.2em;
}

.face-links {
  position: absolute;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40vw;
  font-size: 1em;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 17em;
  height: 17em;
  right: 34.5%;
  top: 16.67%;
  transform: scale(0);
  transition: transform 1s;
}

.face-links a {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  color: var(--light);
  text-decoration: none;
  transition: opacity 0.25s;
}

.face-links a:hover {
  opacity: 75%;
}

.about-link {


  justify-content: left;
  align-content: end;
}

.branding-link {
 
  justify-content: left;
  align-content: end;
}

.contact-link {
  
  justify-content: right;
  align-content: start;
}

.projects-link {

  justify-content: left;
  align-content: start;
}

.effects {
  display: block;
  margin:  auto;
  max-width: 60%;
  position:  absolute;
  bottom: -10vh;
  left: 0;
  width: 100%;
  max-width: 50000px;
  z-index: 1;
  transform: scale(0);
  opacity: 100%;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: var(--pink);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}





.brandcard {
  grid-column-end: span 2;
}

.brandcard3 {
  grid-column-end: span 3;
}

.brandcard2 {
  grid-column-end: span 1;
}

.brandcardtext {
  padding-left:  1.5em;
  padding-right: 1.5em;
}






/* ABOUT
----------------------------------------------- */








/* PERSONAL PROJECTS
----------------------------------------------- */
.personal-project {
 background: var(--light);
  padding: 0.5em;
}

.icon-text-box {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-decoration: none;
}

.icon-text-box img {
  max-width: 3em;
  max-height: 3em;
}

.container red-bg {
  padding-bottom: 20em;
}


.branding-id:hover {
  filter: blur(2px);
}








/* GRID
----------------------------------------------- */
.grid {
  display: grid;
  column-gap: 0.5em;
  row-gap: .5em;
  grid-template-rows: grid-auto-rows; 


}

.span2 {
  grid-column-end: span 2;
  margin-top: 7em;
  margin-left: 2em;
 
}

.span3 {
  grid-column-end: span 3;
  
}

.container {
  max-width: 70em;
  margin: 0.5em auto;
  padding-bottom: 2em;
}


.space {
  background-color: var(--light);
  max-height: 10px;
  max-width: 10000px;
}

.red-bg {
  background-color: var(--red);
  color: var(--light);
  padding: 0.5em;

}

@media (min-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}





/* MEDIA QUERIES
----------------------------------------------- */
@media (min-width: 800px) {

  h1 {
    font-size: 5em;
  }



@media (max-width: 500px) {

  h1 {
    font-size: 5em;
  }

body {
  background: var(--pink);
}


}


@media (min-width: 1024px) {

  h1 {
    font-size: 7em;

  }
 

  .toggle {
    transform: none;
    bottom: 1.5em;
    top: auto;
    position: fixed;
    left: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 3.5em;
}



  nav {
      position: fixed;
      bottom: 1em;
      top: auto;
      z-index: 1;
  }

  .logo {
    display: none;
  }

  .logo-desktop {
    display: block;
    position: fixed;
  }



}

